{% extends "movietemplate.html" %}
{% block content %}
<html>
<body>

<table>
  <tr>
    <td><h2>{{theshining.Director}}</h2></td>
  </tr>
  <tr>
    <td> Stanley Kubrick was born in Manhattan, New York City, to Sadie
    Gertrude (Perveler) and Jacob Leonard Kubrick, a physician. His family were
    Jewish immigrants (from Austria, Romania, and Russia). Stanley was
    considered intelligent, despite poor grades at school. Hoping that a change
    of scenery would produce better academic performance, Kubrick's father sent
    him in 1940 to Pasadena, California, to stay with his uncle, Martin
    Perveler. Returning to the Bronx in 1941 for his last year of grammar
    school, there seemed to be little change in his attitude or his results.
    Hoping to find something to interest his son, Jack introduced Stanley to
    chess, with the desired result. Kubrick took to the game passionately, and
    quickly became a skilled player. Chess would become an important device for
    Kubrick in later years, often as a tool for dealing with recalcitrant
    actors, but also as an artistic motif in his films.</td>
  </tr>
  <tr>
    <td><h2>{{thedeparted.Director}}</h2></td>
  </tr>
  <tr>
    <td>Martin Charles Scorsese was born on November 17, 1942 in Queens, New
    York City, to Catherine Scorsese (née Cappa) and Charles Scorsese, who
    both worked in Manhattan's garment district, and whose families both came
    from Palermo, Sicily. He was raised in the neighborhood of Little Italy,
    which later provided the inspiration for several of his films. Scorsese
    earned a B.S. degree in film communications in 1964, followed by an M.A. in
    the same field in 1966 at New York University's School of Film. During this
    time, he made numerous prize-winning short films including The Big Shave
    (1967), and directed his first feature film, Who's That Knocking at My Door
    (1967).</td>
  </tr>
  <tr>
    <td><h2>{{savingprivateryan.Director}}</h2></td>
  <tr>
  <tr>
    <td>Undoubtedly one of the most influential film personalities in the
    history of film, Steven Spielberg is perhaps Hollywood's best known
    director and one of the wealthiest filmmakers in the world. Spielberg has
    countless big-grossing, critically acclaimed credits to his name, as
    producer, director and writer.
    </td>
  </tr>
</table>

</body>
</html>
{% endblock %}
